#map {
  height: 100%;
  width: 100%;

  @include breakpoint(medium down) {
    height: 100vh;
  }

  @include breakpoint(large) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .mapboxgl-popup {
    max-width: 250px;
  }

  .mapboxgl-popup-content {
    color: $secondary-color;
    hyphens: auto;

    h3 {
      line-height: 1.2;
    }

    a {
      color: $primary-color;

      &:hover {
        color: scale-color($primary-color, $lightness: -15%);
      }
    }

    .mapboxgl-popup-close-button {
      padding: 2px 5px;

      &:hover {
        background-color: $lightturquoise-color;
        color: $secondary-color;
      }
    }
  }
}
