#component-map {
  position: relative;
}

#map {
  width: 100%;
  width: 100vw;
  height: 67%;
  height: 67vh;
  max-height: 300px;

  @include breakpoint(medium) {
    height: 75%;
    height: 75vh;
    max-height: 500px;
  }

  @include breakpoint(large) {
    width: 67%;
    min-height: 600px;
    max-height: unset;
  }

  a {
    color: $primary-color;

    &:hover {
      text-decoration: underline;
    }
  }
}
