#sites {
  background-color: $mediumturquoise-color;
  overflow: hidden;

  @include breakpoint(large) {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    width: 33%;
  }

  #search-sites-input {
    margin-top: $global-margin / 2;
    background-color: $darkturquoise-color;
    border: none;
    color: $medium-gray;
  }

  .site {
    &-titles {
      box-shadow: 0 2px 3px rgba($black, 0.6);
      padding-top: $global-padding;
      position: relative;

      h6 {
        font-weight: $global-weight-bold;
        text-transform: uppercase;
        margin-bottom: 0;
      }
    }

    &-results {
      &-list {
        padding-bottom: $global-padding * 2.5;
        padding-left: $global-padding;
        padding-right: $global-padding;

        @include breakpoint(large) {
          max-height: 90%;
          overflow: scroll;
        }
      }

      &-item {
        opacity: 1;
        padding-top: $global-padding / 2;
        padding-bottom: $global-padding / 2;
        position: relative;
        transform: scale(1);
        transition-property: opacity, transform;
        transition-duration: .4s;
        transition-delay: 0ms;
        will-change: transform, opacity;

        @media 
          (max-width: 380px),
          (min-width: 1024px) and (max-width: 1188px) {
          hyphens: auto;
        }

        &:not(:last-child) {
          border-bottom: $code-border;
        }

        &.scale-down {
          transform: scale(0.001);
          opacity: 0;
        }
        &.hidden {
          position: absolute;
          left: -9999;
        }
      }
    }

    &-details {
      color: $medium-gray;

      strong {
        font-style: normal;
        line-height: 1;
        margin-bottom: 4px;
      }

      &__address {
        letter-spacing: 1px;
      }
    }

    &-googles {
      margin-left: 0;
      text-align: left;

      .alert {
        line-height: 1.3;
        padding-top: 4px;
        padding-bottom: 6px;

        &:not(:last-child) {
          border-bottom: 1px dotted $darkturquoise-color;
        }
      }

      .success {
        text-transform: uppercase;
      }
    }
  }
}
