header#main-header
  nav.row.align-center
    .small-12.medium-8.large-6.column
      a.header-logo.header-link(href="/")
        abbr(title=title) #{shortTitle}
    .small-12.medium-4.large-6.column.text-right
      a.header-link(href="#map") Sites
