include mixins/_siteCheckForm

block hero
  section#hero
    .row.align-center.align-middle.hero-content
      .small-12.column
        .row.align-center
          .small-12.column
            h1.text-center.hero-content__title #{title}
          .small-10.medium-8.large-6.column.text-center
            .hero-content__text
              h2
                | Do you want to get rid of Google in Kreuzberg? 
                em Sure! 
                br
                | But what about your website? 
              .row.align-center.text-center
                .small-12.medium-10.large-8.column
                  p
                    | Google's trackers and algorithms 
                    em infiltrated 
                    | all the websites you have ever visited.
                    br 
                    | So maybe you should get rid of them as well.
          .small-12.medium-10.large-8.column.text-center
            +siteCheckForm()
