doctype html
html(lang='de')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1')
    title=`${title}${siteName ? ' | '+siteName : ''}`
    link(rel='stylesheet', href='style.css')
  body
    block header
      include header

    block content
      block hero
        include hero
      block map
        include map

    block footer
      footer
        .row.align-right
          .column.text-right Spread the word
    script(data-main='js/main', src='js/require.js')
