// Global styles that are NOT already defined in the _settings.scss file go here

body {
  background-image: url('assets/img/lashes-dark.png');
  background-attachment: fixed;
}

// Colors
$lightturquoise-color: get-color(lightturquoise);
$turquoise-color: get-color(turquoise);
$mediumturquoise-color: get-color(mediumturquoise);
$darkturquoise-color: get-color(darkturquoise);

label {
  color: $body-font-color;
}

// Behaviour
a {
  transition: color .2s ease;
}
