header {
  background-color: $darkturquoise-color;
  padding-top: $global-padding / 2;
  padding-bottom: $global-padding / 2;

  @include breakpoint(medium) {
    padding-top: $global-padding / 2;
    padding-bottom: $global-padding / 2;
  }
}

#main-header {
  nav {
    align-items: baseline;
    text-align: center;

    @include breakpoint(medium) {
      align-items: center;
      text-align: left;
    }

    .header {
      &-logo {
        font-size: 130%;
      }

      &-link {
        padding-left: $global-padding / 2;

        &:nth-child(2) {
          padding-left: $global-padding;
        }

        &:not(:last-child) {
          padding-right: $global-padding / 2;
        }

        &.priority {
          border-right: $code-border;
          border-right-color: currentColor;
          letter-spacing: 2px;
          text-transform: uppercase;
          padding-right: $global-padding;
        }

        &-lang {
          color: $lightturquoise-color;

          &:hover,
          &.active {
            color: $anchor-color;
            text-shadow: 1px 0 0 currentColor; // Fake bold font weight
          }
        }
      }
    }
  }
}
