header {
  background-color: $dark-gray;
  height: $headerHeight;
  padding-top: $global-padding / 2;
  padding-bottom: $global-padding / 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#main-header {
  #header-logo {
    font-size: 130%;
    text-transform: uppercase;
  }
}
