section#Fonts
	h2 Fonts
	.intro To remove the Google fonts in the website, you should find in the .css and .html files all the reference to a '.ttf' inclusion (yes this is difficult on purpose, figure out our target audicene and the amount of web developing resources is still a point to address)
	.problem The Font is the shape of the letter appearing in the website. A web developer designing the pages, tried to pick the best based on style and readability. Our devices have many fonts, but for a  web developer, a lots of time, is simpler pick a theme. Because of technical reasons, G. begun to serve these font from its own Cloud. <b>Follow the money!</b> Google serve fonts, Theme developer uses these fonts, web developer pick themes, web owner pay the web developer, users of the web page are tracker by Google when they navigate on the pages, Google profit on studying users behavior.

	.name Fontello
	a(href="http://fontello.com/") http://fontello.com/
	.desc Fontello is a collection of icons and you can download your package
	

	.name Font Squirrel
	a(href="https://www.fontsquirrel.com/") https://www.fontsquirrel.com/
	.desc Font Squirrel provides free font and permits to download your local package of fonts
	