button,
.button {
  text-transform: uppercase;
  font-weight: $global-weight-bold;

  &.success {
    color: $mediumturquoise-color;
  }

  &:disabled,
  &[disabled]
  &:disabled:hover,
  &[disabled]:hover {
    background-color: $medium-gray;
  }
}
