// Global styles that are NOT already defined in the _settings.scss file go here

body {
  background-image: url('img/lashes-dark.png');
  background-attachment: fixed;
}

// Colors
$lightturquoise-color: get-color(lightturquoise);
$turquoise-color: get-color(turquoise);
$mediumturquoise-color: get-color(mediumturquoise);
$darkturquoise-color: get-color(darkturquoise);

.primary {
  color: $primary-color;
}
.secondary {
  color: $secondary-color;
}
.success {
  color: $success-color;
}
.warning {
  color: $warning-color;
}
.alert {
  color: $alert-color;
}
.lightturquoise {
  color: $lightturquoise-color;
}
.turquoise {
  color: $turquoise-color;
}
.mediumturquoise {
  color: $mediumturquoise-color;
}
.darkturquoise {
  color: $darkturquoise-color;
}

label {
  color: $body-font-color;
}

section {
  display: none;
}

// Behaviour
a {
  transition: color .2s ease-in-out;
}
