// Global styles that are NOT already defined in the _settings.scss file go here


// Colors
$lightturquoise-color: get-color(lightturquoise);
$turquoise-color: get-color(turquoise);
$mediumturquoise-color: get-color(mediumturquoise);
$darkturquoise-color: get-color(darkturquoise);

// Animation
$transition-duration: .3s;

body {
  background-attachment: fixed;
}

// Animations
$easing: ease-out;

.primary {
  color: $primary-color;
}
.secondary {
  color: $secondary-color;
}
.success {
  color: $success-color;
}
.warning {
  color: $warning-color;
}
.alert {
  color: $alert-color;
}
.lightturquoise {
  color: $lightturquoise-color;
}
.turquoise {
  color: $turquoise-color;
}
.mediumturquoise {
  color: $mediumturquoise-color;
}
.darkturquoise {
  color: $darkturquoise-color;
}

label {
  color: $body-font-color;
}

section {
  display: none;
  padding-top: $global-padding;
  padding-bottom: $global-padding;

  @include breakpoint(medium) {
    padding-top: $global-padding * 2;
    padding-bottom: $global-padding * 2;
  }

  @include breakpoint(large) {
    padding-top: $global-padding * 3;
    padding-bottom: $global-padding * 3;
  }
}

// Behaviour
a {
  display: inline-block;
  position: relative;
  transition: color .2s $easing;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform .2s $easing;
  }

  &:hover,
  &:focus,
  &:active,
  &.active {
    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.propaganda {
  h3 {
      // this is not ok, but as long as the style is not made...
     color: #8fd216;
  }
}

.tag {
  background: $primary-color;
  color: $light-gray;
  border-radius: 500px;
  display: inline-block;
  font-size: 50%;
  letter-spacing: 1px;
  padding: 2px 8px;
  text-transform: uppercase;
  word-break: keep-all;
  white-space: nowrap;
  transition: background-color .3s;

  & ~ & {
    margin-left: 4px;
  }
}
