header {
  background-color: $darkturquoise-color;
  padding-top: $global-padding / 2;
  padding-bottom: $global-padding / 2;

  @include breakpoint(medium) {
    padding-top: $global-padding / 2;
    padding-bottom: $global-padding / 2;
  }
}

#main-header {
  align-items: baseline;
  text-align: center;

  @include breakpoint(medium) {
    align-items: center;
    text-align: left;
  }

  .header {
    &-logo {
      font-size: 130%;
    }

    &-link:not(.header-logo) {
      color: $lightturquoise-color;

      &::after {
        background-color: $anchor-color;
      }

      &:hover,
      &:focus,
      &:active,
      &.active {
        color: $anchor-color;
      }
    }
  }

  .menu-main,
  .menu-lang {
    justify-content: flex-start;

    @include breakpoint(medium) {
      justify-content: flex-end;
    }
  }

  .menu-main {
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
