section.component#component-about
  .row.align-center.align-middle
    .small-12.column
      h1.text-left.hero-content__title 
      .div.text-left !{i18n.__("aboutUs")}
      h3.text-left Long term vision [UN]
      .div.text-left !{i18n.__("longTerm")}
