section.component#component-campaign
  .row.align-center.align-middle
    .small-12.column
      h1.text-left.hero-content__title 
      .div.text-left !{i18n.__("aboutCampaign")}
      h3.text-left Join us! [UN]
      .div.text-left !{i18n.__("joinUs")}
