include mixins/_siteCheckForm
section.component#component-check
  .row.align-center
    .small-12.medium-10.large-8.column
      +siteCheckForm()
  .row.align-center
    .small-12.medium-10.large-8.column.propaganda

      h3 What is Google Tracking Exposed?
      p TREX is a tool for detecting invisible trackers present on a website. When you open a website, you feel you are connecting to ONE site, but behind the scenes the connections are many, and they terminate in different companies and countries, this is how trackers work. The websites you connect to often enable companies to gather data about you. Sometimes this is being done intentionally, like when they profit from advertising, but sometimes you have no clue you are being tracked. Google is the most frequent owner of these trackers, as confirmation of their influence in the technology development.

      h3 What does it aim to achieve?
      p Most website owners are not aware that Google is infiltrating their website. There is a big difference between your site being in the google search engine, and when a google service got sneaked into your website. Sadly, both of the things are invisible to non technologies. The goal of this test is to help people in getting google free (if they can, or at least, make them aware of the problem)

      h3 What does TREX do?
      p It connects to the website you enter and analyses the invisible connections established by the device. It analyzes the traces and tries to associate these activities to known companies so that you can give a name and a face behind these activities.

      h3 How do I use TREX?
      p Type a website address into the area above, hit enter and see…

      h3 What more can I do?
      p Use tools in your browser which tell you (and maybe even block for you) these web trackers, we suggest: 
        a(href="https://www.ublock.org/") ublock
        |.

