section.component#component-kreuzberg
  .row.align-center.align-middle
    .small-12.column
      h1.text-left.hero-content__title 
      .div.text-left !{i18n.__("whyKreuzberg")}
      h3.text-left What's the link? [XXX]
      .div.text-left !{i18n.__("gentrificationLink")}
