section.component#component-replacements
  .row.align-center.align-middle
    .small-12.column
      .replacements
        include generated/Fonts
        include generated/ADS
        include generated/Analytics
        include generated/Video
        include generated/Maps
        include generated/BlogSpot
        include generated/Translate
