.row
  .column 
     a(data-route="about" href="about") about
  .column 
     a(data-route="map" href="map") map
  .column 
     a(data-route="check" href="check") check your site
  .column 
     a(data-route="replacement" href="replacements") replacements
