nav.row.align-center.menu-main
  .column.shrink.text-center
    a(data-route="kreuzberg" href="kreuzberg" class="header-link") Kreuzberg?
  .column.shrink.text-center
    a(data-route="campaign" href="campaign" class="header-link") the Campaign
  .column.shrink.text-center
    a(data-route="map" href="map" class="header-link") map
  .column.shrink.text-center
    a(data-route="check" href="check" class="header-link") check your site
  .column.shrink.text-center
    a(data-route="replacements" href="replacements" class="header-link") replacements
  .column.shrink.text-center
    a(data-route="about" href="about" class="header-link") about us
