#ADS
	h2 ADS
	.intro Despite their attempts to monopolise the market, there are advertising networks aside from Google.
	.problem Advertising online is necessary for many businesses, but Google Ads exploits this need by using your ads to track people across the web, adding this data to their extensive profiles on individuals and analysing their behaviour.

	.name BuySellAds
	a(href="https://www.buysellads.com/") https://www.buysellads.com/
	.desc BuySellAds is a multi-platform advertising network which does not automatically feed into Google. However, it does have privacy issues of its own, including associating traffic with social network data and sharing data with third-party advertisers. Still, it represents a less extensively intrusive option than Google Ads.
	