#Analytics
	h2 Analytics
	.intro 
The good news is that you can still use web analytics on your website without needlessly and grossly infringing on your visitors’ privacy. One of the most important steps you can take to respect your visitors' privacy is to self-host analytics data. Otherwise, using cloud analytics services which are privacy-oriented is still better than using Google Analytics.
	.problem Website analytics can be helpful for understanding traffic to your website, but can also be extremely intrusive to the privacy of your visitors. Google represents perhaps the worst example of this, as they not only track minute details about visitors and their behavior, but they also combine this data with all the additional, extensive data they are sweeping up about individuals from all of their trackers across the web.

	.name Matomo
	a(href="http://matomo.org/") http://matomo.org/
	.desc Matomo is a web analytics service that claims to be privacy-oriented. However, they enable Google integrations which undercuts this claim. Choose the self-hosting option and do not integrate with Google.
	

	.name Amplitude
	a(href="https://amplitude.com/") https://amplitude.com/
	.desc Amplitude is a rather standard web analytics service which is not very respectful of privacy. It is cloud-based, and while they claim not to share data with third-parties, they use Amazon Web Services' servers to store encrypted data. The service also buys third-party data, and the fact that their own website uses Google Analytics should indicate the lack of confidence they have in their own product.
	

	.name Open Web Analytics
	a(href="http://openwebanalytics.com/") http://openwebanalytics.com/
	.desc Open Web Analytics is an excellent option for those a little more comfortable with back-end development who want a fully-featured product. It is completely self-hosted.
	

	.name Simple Analytics
	a(href="https://simpleanalytics.io/") https://simpleanalytics.io/
	.desc Simple Analytics is a strongly privacy-oriented analytics service which only tracks necessary traffic metrics. It is cloud-based, but does not store IP addresses and does not use cookies.
	

	.name Fathom
	a(href="https://usefathom.com/") https://usefathom.com/
	.desc Fathom is similar to Simple Analytics in that it does not collect unique identifiers. What it offers in addition is a free, self-hosted option which makes it even more privacy-friendly.
	