#BlogSpot
	h2 BlogSpot
	.intro Some other blogging and content services can help protect visitor privacy. One of the best things you can do to ensure this is to fully self-host your blog.
	.problem Blogger is a popular blog-publishing platform owned by Google. As it utilises Google's standard privacy policy, it is safe to assume that it visitor data is tracked regardless of whether you use its built in Google Analytics service.

	.name Ghost
	a(href="https://ghost.org") https://ghost.org
	.desc Ghost is a non-profit, open-source blog platform which allows for self- or cloud-hosting. The service seems to offer a solid privacy policy, which does not appear to utilize blog visitor data.
	

	.name Squarespace
	a(href="https://squarespace.com") https://squarespace.com
	.desc Squarespace is a website building platform. The privacy of visitors to your site depends largely on your own settings, and you can delete visitor data. Select the least intrusive setting if you are going to use this service, otherwise they retain the ability to track minute data about your visitors and share it with third-parties.
	

	.name Shufflehex
	a(href="https://shufflehex.com") https://shufflehex.com
	.desc ShuffleHex is a content discovery platform. It allows you to promote your content through their network. The service lacks a privacy policy, and lacks traffic.
	