#Fonts
	h2 Fonts
	.intro 
To remove Google Fonts from your website and self-host instead, you will need to upload the fonts you want to use to your server. Some services for selecting and downloading or purchasing fonts are listed below. You will then enter the CSS and HTML files of your pages and search for all references to font-face or font-family and remove them. You will then replace these references with a direct link to your self-hosted font. Typically, when you download fonts to use for your website, you will receive a folder of several variations of the font – this allows the font to be rendered in various formats and browsers. You may receive .eot, .woff, and .ttf files. 

	.problem Fonts are an important part of the style of a website. Google has cynically made it incredibly easy to utilize any of a huge number of fonts on websites, but it comes with a price: what they get in exchange for this, is the ability to track your visitors. It is therefore important to the privacy of your visitors to ensure that you do not use Google fonts in your website. There are two ways to avoid this. If using specific fonts is a priority, the best way to do this is to simply host the fonts on your own server, so that no third-parties receive data about your visitors through your fonts. Since this solution requires some level of comfort in handling your website’s files, if you are comfortable with having some users fall back on default web fonts, then you can simply “font stack,” and rely on the user’s own system fonts to do the job.

	.name Fontello
	a(href="http://fontello.com/") http://fontello.com/
	.desc Fontello is a collection of icons that you can download and self-host on your website to call on as you would a font.
	

	.name Font Squirrel
	a(href="https://www.fontsquirrel.com/") https://www.fontsquirrel.com/
	.desc Font Squirrel is a popular service which enables you to download fonts to self-host on your website as specified above.
	

	.name Practical Typography
	a(href="https://practicaltypography.com/free-fonts.html") https://practicaltypography.com/free-fonts.html
	.desc Practical Typography provides a small selection of open license fonts to download and self-host on your website as specified above.
	