#Maps
	h2 Maps
	.intro There are other, excellent alternatives that are far more privacy-preserving.
	.problem Google Maps utilises the data it gathers when people use their service to track and follow your location, interests, businesses and other places you visit, gleaning insights about your behavior.

	.name Leaflet
	a(href="https://leafletjs.com") https://leafletjs.com
	.desc Leaflet is an open-source JavaScript library to run interactive maps on your website. As it can be run independently, it does not present the privacy concerns of Google Maps.
	

	.name Mapbox
	a(href="https://www.mapbox.com") https://www.mapbox.com
	.desc Mapbox is a location data platform for websites. It is highly intrusive, collecting IP addresses, timestamps, location data, front-facing camera data, accelerometer data, and more from end users.
	

	.name Mapcat
	a(href="https://www.mapcat.com") https://www.mapcat.com
	.desc Mapcat is an OSM-based map API for websites and internal tracking. It has a slightly better privacy policy than Mapbox, but is aimed at helping companies track employees, and does share user and aggregate data with third parties for purposes of remarketing, etc.
	

	.name Nextzen
	a(href="https://www.nextzen.org") https://www.nextzen.org
	.desc Nextzen is a Mapzen-based project aimed at extending its support. It enables developers to build their own maps. When using their service directly, they do collect location data, but only share it with third parties as aggregated, de-identified data, but otherwise do not share with third-parties.
	