#Translate
	h2 Translate
	.intro However, there are other online translators available, and their technologies are also improving rapidly.
	.problem While the global communications enabled by the Internet has increased the need for online translation, and the technology around it has improved dramatically over the past several years, Google has attempted to dominate this market, using their translator to extract text and information about its users, which they combine with the rest of their masses of siphoned data.

	.name DeepL Translator
	a(href="https://deepl.com/") https://deepl.com/
	.desc DeepL is a Germany-based translation service that tracks translated texts to a far lesser degree than Google, using them to train their algorithm and then deleting them. It also often offers far superior semantic translations than Google Translate. They do use Google Analytics on their website.
	

	.name WordReference
	a(href="https://www.wordreference.com/") https://www.wordreference.com/
	.desc WordReference is a simple translator, specialising in specific language-to-language translations. This service also uses Google Analytics.
	