#Video
	h2 Video
	.intro Other services are competing with YouTube, however, and some respect your privacy far more.
	.problem YouTube is the dominant online video service, and feeds data it generates about your activity into and from your profile.

	.name Vimeo
	a(href="https://vimeo.com") https://vimeo.com
	.desc Vimeo is the next most dominant video service, which is unfortunate, as it also exploits user data and shares this data with third-parties, including Google.
	

	.name PeerTube
	a(href="https://joinpeertube.org") https://joinpeertube.org
	.desc PeerTube is a federated video hosting service. This is much better for user privacy, and enables users to host their own instance, with their own videos, and knits together a network of peer-to-peer broadcasts, so when you use it, you actually contribute to its bandwidth!
	

	.name DailyMotion
	a(href="https://www.dailymotion.com") https://www.dailymotion.com
	.desc DailyMotion is another direct competitor with YouTube, and like Vimeo, it has a poor privacy policy, collecting and sharing data with third-parties, including Google.
	

	.name DTube
	a(href="https://d.tube/") https://d.tube/
	.desc DTube is a new, decentralized video streaming service built on Steemit and IPFS, which is far more privacy protecting than centralized video streaming services.
	